<!DOCTYPE html>
<html>
  <head>
    <title>Cool Color Charts</title>
    <meta charset="utf-8" />

    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0"></script>

    <style media="screen">
      /* Add space between Vega-Embed links  */
      .vega-actions a {
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Peter's Favorite Colors</h1>
    <!-- Container for the visualization -->
    <div id="vis"></div>

    <script>
      // Assign the specification to a local variable vlSpec.
      var vlSpec = {
        "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
        "data": {
			"values": {{ data4ChartsJSON | safe }}
		},
        "mark": "bar",
        "encoding": {
          "y": {"field": "color", "type": "nominal"},
          "x": {"field": "votes", "type": "quantitative"},
		  "color": {"field": "color", "type": "nominal", "scale": null}
        }
      };

      // Embed the visualization in the container with id `vis`
      vegaEmbed("#vis", vlSpec);
    </script>
  </body>
</html>