<!doctype html>
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<title>Popular Colors of the World</title>
	<style>
	h1 {text-align:center;}
	p {text-align:center;}
	div {text-align:center;}
	table {width: 50%; margin-left: 25%; margin-right: 25%;}
	th {text-align:center;}
	</style>
</head>
<body>
<h1>World's Most <br/>Popular Colors</h1>
{{ dfhtml | safe }}

<p><a href="/projects/snowflake/submit">Submit</a> a color for our list!</p>
<p><a href="/projects/snowflake/charts">Check out these charts</a></p>
<body>
</html>

