blinker
certifi
charset-normalizer
click
colorama
Flask
googleapis-common-protos
grpcio
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-jinja2
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
packaging
pandas
protobuf
python-dateutil
pytz
requests
six
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
zipp

