/* Simple Statuspage Stylesheet */

@import url(https://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #666;
  color: #fff;
  font-family: 'Open Sans', arial, sans-serif;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto 0 auto;
}

.dark-mode {
  background-color: #fff;
  color: #666;
}

header {
  display: block;
}

footer {
  text-align: center;
  padding: 3px;
  color: white;
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}


/* Top Navigation Bar Start */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #2FCC66;
}

/* Top Navigation Bar End */


h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.4em;
  margin: 0.7em 0 1.7em 0;
  padding: 0;
  color: black;
  line-height: 1em;
  letter-spacing: -.06em;
}

h3 {
  margin: 0;
  font-size: 1.4em;
  color: #3fbb8a; 
  font-family: oswald, arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.event {
  width: 160px;
  float: left;
  text-align: center;
}

.event p {
  border: 0px solid #999;
}

#content {
  align: center;
}
  

